<h1><%= title %></h1>
<div class="text-center">
    <img src="img/<%= publicImgFile.author %> " class="img-thumbnail rounded-circle" width="200" alt=""<%= publicImgFile.author %>>
    <p class="fw-light mt-3"><%= miscellaneous.author %> | <%= miscellaneous.position %> | <%= miscellaneous.age %></p>
</div>